# Ignore config files and environment variables
config*.py
*/config*.py
*/*/config*.py
.env
*.env
fun_trade_bot.py
*.logs
*.log
logs/
venv/
Shortcuts/
SQL/
mybot.code-workspace*
.vscode/
QuantTradingBots/
BIN/
testaccount.py